<div>
<div class="main-navbar">
    <div class="inner-main-navbar">
    <% if logged_in? %>
        <%= current_user.username %>
        <form action="<%= session_url %>" method="post">
            <%= auth_token_input %>
            <input type="hidden" name="_method" value="delete" class="">
            <input type="submit" value="Sign Out" class="main-nav-button"/>
        </form>
        <% else%>
        <a href="<%= new_session_url %>" class="main-nav-button">Sign In</a>
        <a href="<%= new_user_url %>" class="main-nav-button">Sign Up</a>
    <% end %>
    </div>
</div>
    <div class="main-body">
        <div class="main-title-box">
            <div class="main-title"><h1 >Animal Book</h1></div>
        </div>
        <div class="img-slideshow">
        
            <div class="slides fade">
                <%= image_tag("lion.jpg", :alt => "lion") %>
            </div>
            <div class="slides fade">
                <%= image_tag("rodent.jpg", :alt => "rodent") %>
            </div>
            <div class="slides fade">
                <%= image_tag("redfox.jpg", :alt => "redfox") %>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);
            
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("slides");
                var dots = document.getElementsByClassName("dot");

                if (n > slides.length) {slideIndex = 1};
                if (n < 1) {slideIndex = slides.length};
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (let i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
            }

        </script>

    </div>
</div>