<div>
<div class="main-navbar">
    <div class="inner-main-navbar">
    <% if logged_in? %>
        <%= current_user.username %>
        <form action="<%= session_url %>" method="post">
            <%= auth_token_input %>
            <input type="hidden" name="_method" value="delete" class="">
            <input type="submit" value="Sign Out" class="main-nav-button"/>
        </form>

         

        <% else%>
        <a href="<%= new_session_url %>" class="main-nav-button">Sign In</a>
        <a href="<%= new_user_url %>" class="main-nav-button">Sign Up</a>
    <% end %>
    </div>
</div>
    <div class="main-body">
        <div class="main-title-box">
            <div class="main-title"><h1 >Animal Book</h1></div>
        </div>
        <div class="img-slideshow">
        
            <div class="slides fade">
                <%= image_tag("lion.jpg", :alt => "lion") %>
            </div>
            <div class="slides fade">
                <%= image_tag("rodent.jpg", :alt => "rodent") %>
            </div>
            <div class="slides fade">
                <%= image_tag("redfox.jpg", :alt => "redfox") %>
            </div>

           

        </div>
        
        <br>

        
        
        <script>
            // Automatic Slideshow function
            var autoSlideIndex = 0;
            
            showSlides();
            function showSlides() {
                var i;
                var autoSlides = document.getElementsByClassName("slides");
                for (let i = 0; i < autoSlides.length; i++) {
                    autoSlides[i].style.display = "none";
                }
                autoSlideIndex++;
                if (autoSlideIndex > autoSlides.length) {autoSlideIndex = 1}
                autoSlides[autoSlideIndex - 1].style.display = "block";
                setTimeout(showSlides, 2000); 
            }
        </script>

    </div>
</div>