<div class="user-posts">

<h2><%= current_user.username %>'s POSTS</h2>

    

    <form action="<%= user_posts_url %>" method="POST" id="post-form">
    <%= auth_token_input %>
        
        <h5>Create New Post</h5>
        <%  if !current_user.errors.empty? %>
            <% current_user.errors.messages.each do |k, e|%>
                <div class="error-div"><h1><%= e[0] %></h1></div>
            <%  end %>
        <%  end %>
            <textarea name="post[body]" rows="5" cols="30"> </textarea>
                
        
        <input type="submit" value="Create Post">
    </form>
    <% current_user.posts.each do |post| %>
        <h4><%= post.body %></h4>
    <% end %>
  
</div>

